body {
	max-width: 800px;
	margin: 0 auto;
}

.sender-column {
	text-align: right;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

p,ul,ol,dl,address {
	font-size: 1.1em;
}

p, li, dd, dt, address {
	line-height: 1.5;
}

p {
	white-space: pre-wrap;
}

.remove-italics {
	font-style: normal;
}

.indent {
	margin-left: 2.25em; /*Indents the text*/
	display: inline-block; /*Makes it work as a block, so it indents following lines, not just the first. Set to inline, as otherwise, it adds an extra character to the line after.*/
}